@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

// media query manager


//0 - 600px: phone
// 500-900px : tablet portait
// 900- 1200: tablet landscape
//1200 - 1800: tablet landscape
// 1800+ : big desktop

@mixin respond ($breakPoint) {
     @if $breakPoint == phone {
        @media (max-width: 37.5em) {
            @content
        }
    }
        @if $breakPoint == tab-port {
            @media (max-width: 56.25em) {
                @content
            } 
        }
            @if $breakPoint == tab-land {
                @media (max-width: 75em) {
                    @content
                }
                @if $breakPoint == big-desktop {
                    @media (min-width: 112.5em) {
                        @content
                    }
                    
     }
}
}